<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Caption</key>
		<string>1</string>
		<key>Comment</key>
		<string>1</string>
		<key>Photo</key>
		<string>01</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>2</string>
		<key>Comment</key>
		<string>2</string>
		<key>Photo</key>
		<string>02</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>3</string>
		<key>Comment</key>
		<string>3</string>
		<key>Photo</key>
		<string>03</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>4</string>
		<key>Comment</key>
		<string>4</string>
		<key>Photo</key>
		<string>04</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>5</string>
		<key>Comment</key>
		<string>5</string>
		<key>Photo</key>
		<string>05</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>6</string>
		<key>Comment</key>
		<string>6</string>
		<key>Photo</key>
		<string>06</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>7</string>
		<key>Comment</key>
		<string>7</string>
		<key>Photo</key>
		<string>07</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>8</string>
		<key>Comment</key>
		<string>8</string>
		<key>Photo</key>
		<string>08</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>9</string>
		<key>Comment</key>
		<string>9</string>
		<key>Photo</key>
		<string>09</string>
	</dict>
</array>
</plist>
